</body>
<h2 id ='trde' class ='text-center'>Created and maintained by <strong>team Phoenix</strong> at <strong>NITH</strong></h2>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
<script src= "j.js"></script>
</html>