<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href ="/app2.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">
	</head>

<body>
<header>
	<div class="main">
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Legal Information</a></li>
		</ul>
		
	</div>
	<div class="title">
		<h2>Central Library <strong>NITH</strong></h2>
	</div>
	<div class="button">
		<a href="/home" class="btn ">Admin Login</a>
		<a href="#" class="btn " >Student Login</a>
	</div>
</header>
</body>

</body>
<h2 id ='trade' class ='text-center'>Created and maintained by team <strong> Phoenix</strong> at <strong>NITH</strong></h2>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
<script src= "j.js"></script>
</html>